# {{ ansible_managed }}
# Prometheus Alertmanager configuration
# See https://prometheus.io/docs/alerting/configuration/ for alternatives
# see https://github.com/prometheus/alertmanager/blob/v0.6.2/template/template.go#L218
# for available alert fields

route:
  group_by: [ 'alertname' ]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'web.hook'
receivers:
  - name: 'web.hook'
    webhook_configs:
      - url: 'http://127.0.0.1:5001/'
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: [ 'alertname', 'dev', 'instance' ]
